body {
	font-family: 'Ubuntu', 'Lucida Sans Unicode', 'Century Gothic', Tahoma,
		sans-serif, serif;
	margin-left: 20%;
	margin-right: 20%
}

div {
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 0.3em;
	padding: 0.5em;
}

#nav {
	float: left;
	width: 20%;
}

#content {
	display: inline-block;
	width: 70%;
}

#debug {
	border: 1px solid saddlebrown;
	border-radius: 5px;
	margin: 0.3em;
	padding: 0.5em;
	color: red;
}

.reserveBtn {
	display: block;
	text-align: right;
}

.reservationDetails label {
	display: block;
}

.reservationDetails label:after {
	content: ": ";
}